textarea {
    overflow: hidden;
    background-color: #1289cd;
    color: #ffffff;
    width: 90%;
    height: auto;
    margin: auto;
    display: block;
    padding: 5%;
    border-radius: 5px;
    border: 1px solid #F7E98D;
    transition: box-shadow 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    resize: none;
}

#preview_parent {
    border: solid 5px #DDDDDD;
    border-radius: 5px;
    transition: box-shadow 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 610px;
}

canvas {
    margin-bottom: -5px;
}

.content {
    font-size: 32px;
    font-family: Tahoma, cursive;
}

.btn-color {
    height: 40px;
    width: 40px;
}

.btn-image {
    height: 40px;
    width: 40px;
    background: url('../image/background.jpg');
    background-size: 40px 40px;
}

.btn-align {
    height: 40px;
    width: 80px;
}

.preview-box {
    border: dashed 2px #ffc392;
    margin: 15px 3px;
}

.preview-box h4 {
    position: relative;
    top: -20px;
    width: 60px;
    height: 20px;
    background-color: white;
}

.preview-box div {
    position: relative;
    top: -20px;
}