* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.title {
    font-size: larger;
    align-content: center;
    text-align: center;
    margin: 10px 0;
}

.board {
    margin: 2px auto;
    width: 95vmin;
    height: 95vmin;
    border-radius: 10px;
}

.control {
    margin: 2px auto;
    width: 90vmin;
}

.control > button {
    width: 30%;
    font-size: large;
    line-height: 2;
    margin: 10px 5%;
    border: solid 2px orange;
    border-radius: 10px;
    background-color: darkorange;
}

.control > button:active{
    background-color: orange;
}

.info {
    margin: 2px auto;
    width: 90vmin;
}

.log {
    width: 40vmin;
    height: 10rem;
    border: solid 1px orange;
    border-radius: 4px;
    float: left;
    overflow-y: scroll;
    font-size: small;
}

.score {
    width: 40vmin;
    border: solid 1px orange;
    border-radius: 4px;
    float: right;
}